@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200;300;400;500&family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
  --primary-color: #090e13;
  --secondary-color: #18212a;
  --font-primary: #ffffff;
  --font-secondary: #73b5f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mali";
}

a {
  text-decoration: none;
}

body {
  background: var(--primary-color);
}

.container {
  margin: 0 40px;
}
